VITE_SUPABASE_URL=https://jurkugjokaxgqjpojxpa.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp1cmt1Z2pva2F4Z3FqcG9qeHBhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU1NzMwODgsImV4cCI6MjA5MTE0OTA4OH0.AdhAvi3eYvmK6pyK5SQV72OA5_aT151GW_2diLIbSQw
